# Android Studio
.idea/
*.iml
.gradle/
local.properties

# Build outputs
/build/
*/build/

# OS-specific
.DS_Store
Thumbs.db

# Miscellaneous
*.log
*.tmp

# Gradle
.gradle/
*.apk
*.ap_
captures/

# Keystore files
*.jks
*.keystore
